@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Regular.otf');
   font-weight: normal;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-It.otf');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Semibold.otf');
   font-weight: bold;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Light.otf');
   font-weight: 300;
}

@font-face {
   font-family: 'Source Code Pro';
   src: url('../fonts/SourceCodePro-Regular.otf');
   font-weight: normal;
}

@font-face {
   font-family: 'Source Code Pro';
   src: url('../fonts/SourceCodePro-Light.otf');
   font-weight: 300;
}

@font-face {
   font-family: 'Source Code Pro';
   src: url('../fonts/SourceCodePro-Semibold.otf');
   font-weight: bold;
}

body {
   font-family: "Source Sans Pro", sans-serif;
   font-size: 16px;
   line-height: 1.428571429;
   color: #333;
   background-color: #fff;
}

code, kbd, pre, samp, span.pre {
   font-family: 'Source Code Pro', monospace;
   font-size: 13px;
}

/* scrolling for both code with and without line numbers  */
[class^="highlight-"],
[class*=" highlight-"] {
   overflow: auto;
   margin-bottom: 1em;
}
.highlight {
   display: table;
}



ul, ol {
   line-height: 1.6em;
}

h1, h2, h3 {
   font-weight: 300;
   color: #027eae;
}

h4, h5, h6 {
   color: #027eae;
}

h1 {
   font-size: 2em;
   margin: .67em 0;
}

h2 {
   font-size: 1.5em;
   margin: .75em 0;
}

h3 {
   font-size: 1.17em;
   margin: .83em 0;
}

h4 {
   font-size: 1em;
   margin: 1.12em 0;
}

h5 {
   font-size: .83em;
   margin: 1.5em 0;
}

h6 {
   font-size: .75em;
   margin: 1.67em 0;
}


#logoblock {
   text-align: center;
}

ul.nav-list li {
   line-height: 1.3em
}

ul.nav-list strong {
   font-weight: normal;
}

#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6 {
   color: #333;
}

.sidebar_block {
   padding-left: 24px;
}

.bs-sidenav.affix {
   position: static;
   top: 0;
}

.col-md-9 {
   padding-bottom: 20px;
}

.col-md-9 .section {
   max-width: 750px;
}

blockquote.epigraph {
   border: none;
   font-size: 1.1em;
   font-style: italic;
   color: #B6B62C;
}

@media (min-width: 992px) {
   .col-md-9 {
      padding-left: 32px;
   }
}

#quicklinks > h4 {
   line-height: 0.9em;
   padding-left: 1em;
}

footer {
   font-size: 0.83em;
}

dl .table {
   border: none;
}

dl .table tr:first-child {
   font-weight: normal;
}

th.field-name {
   white-space: nowrap;
}

dl.class, dl.exception, dl.function {
   margin-top: 24px;
   box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
   padding: 16px;

   border-radius: 8px;
   border-left: 12px solid rgba(2, 126, 174, 0.7);
}

dl.method, dl.attribute, dl.staticmethod {
   border-top: 1px solid #aaa;
   padding: 8px;
}

dl.exception {
   border-left: 12px solid rgba(255, 30, 0, 0.7);
}

dl.class {
   border-left: 12px solid rgba(2, 126, 174, 0.7);
}

dl.function {
   border-left: 12px solid rgba(255, 230, 40, 0.7);
   border-left: 12px solid #E2D35E;
}


/* navbar needs to collapse to hamburger sooner than default */
/* snippet taken from http://stackoverflow.com/questions/18192082/bootstrap-3-navbar-collapse */
/* cleaner way would be to recompile from LESS source */

@media (max-width: 800px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

li.hidden-sm {
   display: none;
}


.col-md-9 {
   padding-top: 38px; /* padding to avoid overlap with widget on narrow screens */
}

.navbar-version {
   display: none;
}

.navbar-brand img {
   height: 29px;
   position: relative;
   bottom: 4px;
   left: 9px;
}

/* sidebar extension across the entire viewport on narrower screens */
/* and displayed above the content needs to be prevented */
/* hide the sidebar */
/* show logo + external links part in the footer */

.extendedFooter {
   display: none;
   overflow: hidden;
   max-width: 400px;
   margin: 0 auto;
}

.extendedFooter > div {
   float: left;
}

.clearBoth {
   clear: both;
}

#manifesto img {
   border: 0;
   position: absolute;
   right: 0;
   top: 51px;
   z-index: 10;
}

@media (max-width: 800px) {
   #manifesto {
      display: none;      
   }
}

@media (max-width: 990px) {
   #sidebar {
      display: none;
   }

   .extendedFooter {
      display: inherit;
   }
}


/* pygments code block shouldn't word wrap, but show overflow on scroll */

div.highlight, table.highlighttable {
   width: 100%;
   margin-left: 0;
}

td.linenos {
   width: 1px;
   padding-top: 10px !important;
}

table.highlighttable td {
   padding-right: 0;
}

.highlighttable .linenos pre {
   font-size: 13px;
   color: #B6B62C;
}

.highlighttable .code pre {
   font-size: 13px;
}

.highlight pre {
   word-wrap: normal;
   margin: 0;
}

.highlight .hll {
   background-color: #ffffcc;
   background-color: #E4E451;
}

.highlight .c {
   font-style: normal;
   font-weight: 300;
}

.table {
   margin-top: 1.5em;
   border-top: 2px solid #333;
}

.table tr:first-child {
   font-weight: bold;
}

.table tr:first-child td {
}

div.admonition {
   padding: 0.5em 1.2em 0.8em 1.2em;
   margin: 1.5em auto 1.5em auto;
}

.alert-info, .alert-warning, .alert-tip {
   background-color: #fff;
   background-image: none;

   border: none;
   width: 90%;
   text-shadow: none;
   color: rgba(0,0,0,0.6);
   font-size: 0.9em;

   border-radius: 12px;
   border-left: 12px solid rgba(0,0,0, 0.5);
   box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

p.admonition-title {
   font-weight: bold;
   font-size: 1.17em;
}

.note {
   border-left: 12px solid rgba(2, 126, 174, 0.7);
}

.note p.admonition-title {
   color: #027eae;
}

.warning {
   border-left: 12px solid rgba(255, 30, 0, 0.7);
}

.warning p.admonition-title {
   color: #FF624D;
}

.tip {
   border-left: 12px solid rgba(255, 230, 40, 0.7);
   border-left: 12px solid #E2D35E;
}

.tip p.admonition-title {
   color: #B1A549;
}
