 Open Sans */
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Bold.ttf');
   font-weight: bold;
}
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Italic.ttf');
   font-style: italic;
}
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Light.ttf');
   font-weight: 300;
}

/* Source Sans Pro */

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Regular.ttf');
   font-weight: normal;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Italic.ttf');
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Semibold.ttf');
   font-weight: bold;
}
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Light.ttf');
   font-weight: 300;
}

/* Segoe UI */
/* define here for used weights & styles so that
font-weight & style declarations work for this + the fallback
web font */

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI');
   font-weight: normal;
}
@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Italic');
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Bold');
   font-weight: bold;
}
@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Light');
   font-weight: 300;
}


body {
   /*font-family: 'Segoe UI', sans-serif;*/
   font-size: 15px;
   /*line-height: 1.5em;*/
}

body.native {

}

h1 {
   /*font-family: 'Segoe UI', 'Source Sans Pro', sans-serif;*/
   font-weight: 300;
   margin-top: 40px;
}

h2 {
   /*font-family: 'Segoe UI Light', 'Source Sans Pro', sans-serif;*/
   font-weight: 300;
   margin-top: 32px;
}

h3 {
   /*font-family: 'Segoe UI Light', 'Source Sans Pro', sans-serif;*/
   font-weight: 300;
}

#logoblock {
   text-align: center;
}

ul.nav-list li {
   font-size: 14px;
}

ul.nav-list strong {
   font-weight: normal;
}

.sidebar_block {
   padding-left: 24px;
}

.bs-sidenav.affix {
   position: static;
   top: 0;
}

.col-md-9 {
   padding-bottom: 20px;
}

.col-md-9 .section {
   max-width: 750px;
}

@media (min-width: 992px) {
   .col-md-9 {
      padding-left: 32px;
   }
}

#quicklinks > h4 {
   font-size: 15px;
   padding-left: 12px;
   line-height: 1.1em;
}

footer {
   font-size: 12px;
}

dl .table {
   border: none;
}

dl .table tr:first-child {
   font-weight: normal;
}

th.field-name {
   white-space: nowrap;
}

dl.class, dl.exception, dl.function {
   margin-top: 24px;
   box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
   padding: 16px;

   border-radius: 8px;
   border-left: 12px solid rgba(2, 126, 174, 0.7);
}

dl.method, dl.attribute, dl.staticmethod {
   border-top: 1px solid #aaa;
   padding: 8px;
}

dl.exception {
   border-left: 12px solid rgba(255, 30, 0, 0.7);
}

dl.class {
   border-left: 12px solid rgba(2, 126, 174, 0.7);
}

dl.function {
   border-left: 12px solid rgba(255, 230, 40, 0.7);
}


/* navbar needs to collapse to hamburger sooner than default */
/* snippet taken from http://stackoverflow.com/questions/18192082/bootstrap-3-navbar-collapse */
/* cleaner way would be to recompile from LESS source */

@media (max-width: 800px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

li.hidden-sm {
   display: none;
}


.col-md-9 {
   padding-top: 38px; /* padding to avoid overlap with widget on narrow screens */
}

.navbar-version {
   display: none;
}

.navbar-brand img {
   height: 29px;
   position: relative;
   bottom: 4px;
   left: 9px;
}

/* sidebar extension across the entire viewport on narrower screens */
/* and displayed above the content needs to be prevented */
/* hide the sidebar */
/* show logo + external links part in the footer */

.extendedFooter {
   display: none;
   overflow: hidden;
   max-width: 400px;
   margin: 0 auto;
}

.extendedFooter > div {
   float: left;
}

.clearBoth {
   clear: both;
}

@media (max-width: 990px) {
   #sidebar {
      display: none;
   }

   .extendedFooter {
      display: inherit;
   }

}


/* pygments code block shouldn't word wrap, but show overflow on scroll */

div.highlight {
   width: 100%;
}

.highlight pre {
   word-wrap: normal;
}

.highlight .hll {
   background-color: #ffffcc;
   background-color: #E4E451;
}

.table {
   margin-top: 1.5em;
   border-top: 2px solid #333;
}

.table tr:first-child {
   font-weight: bold;
}

.table tr:first-child td {
}

ol, ul {
   line-height: 1.6em;
}

span.pre {
   font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
   font-size: 14px;
}

div.admonition {
   padding: 1em 1.2em 1em 1.2em;
   margin: 1.5em auto 1.5em auto;
}

.alert-info, .alert-warning, .alert-tip {
   background-color: #fff;
   background-image: none;

   border: none;
   width: 90%;
   text-shadow: none;
   color: rgba(0,0,0,0.6);
   font-size: 14px;

   border-radius: 12px;
   border-left: 12px solid rgba(0,0,0, 0.5);
   box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

p.admonition-title {
   font-weight: bold;
   font-size: 16px;
}

.note {
   border-left: 12px solid rgba(2, 126, 174, 0.7);
}

.warning {
   border-left: 12px solid rgba(255, 30, 0, 0.7);
}

.tip {
   border-left: 12px solid rgba(255, 230, 40, 0.7);
}


/*********************/
/* fontstack testing */
/*********************/

/*body {
   font-family: "Segoe UI", "Source Sans Pro", sans-serif;
}*/

body.native {
   font-family: "Segoe UI", "Lucida Grande", sans-serif;
}

body.openSans {
   font-family: "Open Sans", sans-serif;
}

body.sourceSans {
   font-family: "Source Sans Pro";
}


button.selected {
   background-color: green;
}

.fontstackButtons {
   width: 100%;
   position: fixed;
   bottom: 0;
   left: 0;
}
