dl {
   margin-bottom: 24px;
}

dl dd {
   margin: 0 0 12px 24px;
}

dl > dt {
   display: inline-block;
   margin: 6px 0;
   font-size: 90%;
   line-height: normal;
   background: #e7f2fa;
   color: #2980b9;
   border-top: solid 3px #6ab0de;
   padding: 6px;
   position: relative;
}

dl.method > dt {
   margin-bottom: 6px;
   border: none;
   border-left: solid 3px #ccc;
   background: #f0f0f0;
   color: gray;
}

.interface em,
.method em {
   font-size: 1em;
}

.class span.pre,
.method span.pre {
   background-color: #eee;
   border: 1px solid #e1e4e5;
}
