[submodule ".ai"]
	path = .ai
	url = https://github.com/wamp-proto/wamp-ai.git
[submodule ".cicd"]
	path = .cicd
	url = https://github.com/wamp-proto/wamp-cicd.git
[submodule "deps/flatbuffers"]
	path = deps/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule ".proto"]
	path = .proto
	url = https://github.com/wamp-proto/wamp-proto.git
