*.pyc
*.pyo
*.dat
build
dist
autobahn.egg-info
*.sublime-workspace
*.sublime-project
__pycache__
dropin.cache
*.egg
*.tar.gz
_trial_temp
_trial_temp*
.idea
.sconsign.dblite
_html
_upload
build
egg-info
egg\-info
egg
.egg*
.tox
*.pid
