#communityWidget {
   position: fixed;
   top: 81px;
   right: -2px;
   background-color: #fff;
   z-index: 1000;
   border-radius: 3px 0 0 3px;
   border: solid 1px #fff;
   box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

#communityWidget.nonDisplay {
   display: none;
}

#communityWidget {
   transition: width 0.3s, height 0.5s;
}

#communityWidget.min {
   width: 143px;
   height: 36px;
}
#communityWidget.max {
   width: 170px;
   height: 254px;
}
