#communityWidget {
   position: fixed;
   top: 81px;
   right: 0px;
   background-color: #fff;
   z-index: 1000;
   border-radius: 6px 0 0 6px;
   box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.4);
}

#communityWidget.nonDisplay {
   display: none;
}

#communityWidget {
   transition: width 0.3s, height 0.5s;
}

#communityWidget.min {
   width: 143px;
   height: 40px;
}
#communityWidget.max {
   width: 170px;
   height: 279px;
}
