name: docker

on:
  # Trigger this workflow when the "deploy" workflow has completed successfully
  # https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#workflow_run
  workflow_run:
    workflows:
      - deploy
    branches:
      - master
    types:
      - completed

jobs:

  image_amd64:

    # dockeer images only built and published (to DockerHub) when merging to master (not a yet unmerged PR!)
    if: github.ref == 'refs/heads/master'

    # runs-on: ubuntu-20.04
    runs-on: [self-hosted, linux, X64] # means matterhorn

    env:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      AWS_S3_BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET_NAME }}

    steps:
    - uses: actions/checkout@v2

    - name: Set environment
      run: |
        echo AUTOBAHN_BUILD_DATE=`date -u +"%Y-%m-%d"` >> $GITHUB_ENV
        echo AUTOBAHN_BUILD_ID=$(date --utc +%Y%m%d)-$(git rev-parse --short ${GITHUB_SHA}) >> $GITHUB_ENV
        echo AUTOBAHN_VCS_REF=`git rev-parse --short ${GITHUB_SHA}` >> $GITHUB_ENV
        echo AUTOBAHN_VERSION=$(grep -E '^(__version__)' ./autobahn/_version.py | cut -d ' ' -f3 | sed -e 's|[u"'\'']||g') >> $GITHUB_ENV

    - name: Print environment
      run: |
        echo ""
        echo "Build environment configured:"
        echo ""
        echo "  AUTOBAHN_BUILD_DATE = ${AUTOBAHN_BUILD_DATE}"
        echo "  AUTOBAHN_BUILD_ID   = ${AUTOBAHN_BUILD_ID}"
        echo "  AUTOBAHN_VCS_REF    = ${AUTOBAHN_VCS_REF}"
        echo "  AUTOBAHN_VERSION    = ${AUTOBAHN_VERSION}"
        echo ""
        echo "Wheels (source):"
        echo "  AWS_DEFAULT_REGION  = ${AWS_DEFAULT_REGION}"
        echo "  AWS_S3_BUCKET_NAME  = ${AWS_S3_BUCKET_NAME}"
        echo ""
        echo "Docker image (publish):"
        echo "  DOCKERHUB_USER      = ${DOCKERHUB_USER}"
        echo ""

    - name: Build & publish Docker image for cpy-amd64
      run: |
        cd ./docker && \
        make download_wheels && \
        make build_amd64_cpy3 && \
        pwd && ls -la . && \
        docker login -u ${{ secrets.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_PASSWORD }} docker.io && \
        make publish_amd64_cpy3

    - name: Build & publish Docker image for pypy-amd64
      run: |
        cd ./docker && \
        make download_wheels && \
        make build_amd64_pypy3 && \
        pwd && ls -la . && \
        docker login -u ${{ secrets.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_PASSWORD }} docker.io && \
        make publish_amd64_pypy3

  image_arm64:

    # dockeer images only built and published (to DockerHub) when merging to master (not a yet unmerged PR!)
    if: github.ref == 'refs/heads/master'

    # runs-on: ubuntu-20.04
    runs-on: [self-hosted, linux, ARM64] # means matterhorn

    env:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      AWS_S3_BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET_NAME }}

    steps:
    - uses: actions/checkout@v2

    - name: Set environment
      run: |
        echo AUTOBAHN_BUILD_DATE=`date -u +"%Y-%m-%d"` >> $GITHUB_ENV
        echo AUTOBAHN_BUILD_ID=$(date --utc +%Y%m%d)-$(git rev-parse --short ${GITHUB_SHA}) >> $GITHUB_ENV
        echo AUTOBAHN_VCS_REF=`git rev-parse --short ${GITHUB_SHA}` >> $GITHUB_ENV
        echo AUTOBAHN_VERSION=$(grep -E '^(__version__)' ./autobahn/_version.py | cut -d ' ' -f3 | sed -e 's|[u"'\'']||g') >> $GITHUB_ENV

    - name: Print environment
      run: |
        echo ""
        echo "Build environment configured:"
        echo ""
        echo "  AUTOBAHN_BUILD_DATE = ${AUTOBAHN_BUILD_DATE}"
        echo "  AUTOBAHN_BUILD_ID   = ${AUTOBAHN_BUILD_ID}"
        echo "  AUTOBAHN_VCS_REF    = ${AUTOBAHN_VCS_REF}"
        echo "  AUTOBAHN_VERSION    = ${AUTOBAHN_VERSION}"
        echo ""
        echo "Wheels (source):"
        echo "  AWS_DEFAULT_REGION  = ${AWS_DEFAULT_REGION}"
        echo "  AWS_S3_BUCKET_NAME  = ${AWS_S3_BUCKET_NAME}"
        echo ""
        echo "Docker image (publish):"
        echo "  DOCKERHUB_USER      = ${DOCKERHUB_USER}"
        echo ""

    - name: Build & publish Docker image for cpy-arm64
      run: |
        cd ./docker && \
        make download_wheels && \
        make build_aarch64_cpy3 && \
        pwd && ls -la . && \
        docker login -u ${{ secrets.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_PASSWORD }} docker.io && \
        make publish_aarch64_cpy3

    - name: Build & publish Docker image for pypy-arm64
      run: |
        cd ./docker && \
        make download_wheels && \
        make build_aarch64_pypy3 && \
        pwd && ls -la . && \
        docker login -u ${{ secrets.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_PASSWORD }} docker.io && \
        make publish_aarch64_pypy3
